<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FilterDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>TargetServlet</servlet-name>
  <servlet-class>TargetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TargetServlet</servlet-name>
  <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>DemoFilter</filter-name>
  <filter-class>DemoFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>DemoFilter</filter-name>
  <url-pattern>/test</url-pattern>
  <!--<servlet-name>to map a filter to a particular servlet <servlet-name> 
  		<url-pattern>*</url-pattern> for entire web app
   -->
  </filter-mapping>
</web-app>